/* Copiez ce code CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
  }
  
/*=============================Dans ce Fichier Ce trouve Différents Class utils d'animation /
  
  
  /************************************************************/
/*           PriceIcon Map LeafLet                          */
/***********************************************************/
.priceIcon {
  position: relative;
  background-color: #fff;
  padding: 6px 10px;
  border: 1px solid #000;
  border-radius: 20px;
  text-align: center;
  width: 60px;
  display: inline-block;
  font-size: 12px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  z-index: 999;
  font-weight: bold;
}

.priceIcon:hover {
  border-color: #fff;
}
.priceIcon:hover {
  background-color: #000;
  color: #fff;
}

.priceIcon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
  transition: border-top-color 0.3s;
  z-index: 1;
}

.priceIcon::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: #000;
  border-bottom: 0;
  margin-left: -12px;
  margin-bottom: -12px;
  transition: border-top-color 0.3s;
  z-index: 0;
}

/************************************************************/
/*           Dot Stars Item                                */
/***********************************************************/
.dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot-custom {
  height: 15px;
  width: 14px;
  margin: 0 2px;
  background-color: #4e5460;
  border-radius: 50%;
  display: inline-block;
}

/* CSS spinner */
/* section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  section .loader{
  
    position: relative;
    width: 120px;
    height: 120px;
  }
  
  section .loader span{
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 30%;
    transform: rotate(calc(18deg * var(--i)));
  }
  
  section .loader span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 3px;
    border-radius: 40%;
    background-color: rgb(79, 79, 79);
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
  }
  
  
  @keyframes animate{
    0%{
      transform: scale(1);
    }
  
    80%, 100%{
      transform: scale(0);
    }
  } */

/************************************************************/
/*           Loader OpenStreet map Search                  */
/***********************************************************/
.loader {
  width: 30px;
  aspect-ratio: 1;
  display: grid;
  mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after {
  background: radial-gradient(closest-side at 50% 12.5%, #777777 96%, #0000) 50%
      0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #777777 96%, #0000) 0 50%/80% 20%
      repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn);
  }
}

/************************************************************/
/*           SliderThumb  Custom ChakraUI                   */
/***********************************************************/

.SliderThumb {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding: 8px;
  background-color: #0088d8;
  border: none;
  box-shadow: none;
  position: relative;
  z-index: 1;
}

.SliderThumb:focus::after,
.SliderThumb:active::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 1px dotted white;
  border-radius: 50%;
  pointer-events: none;
}

.SliderThumb:focus::before,
.SliderThumb:active::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: radial-gradient(
    circle,
    rgba(0, 136, 216, 0.4) 60%,
    transparent 70%
  );
  border-radius: 50%;
  z-index: -1;
}

/************************************************************/
/*           Loading Divider                   */
/***********************************************************/
.loader-divider {
  width: 100%;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(rgba(0, 136, 216, 0.9) 0 0) 0 100%/0% 3px
    no-repeat;
  animation: l2 2s linear infinite;
}
.loader-divider:before {
  content: "";
}
@keyframes l2 {
  to {
    background-size: 100% 3px;
  }
}

/************************************************************/
/*          blinks text                */
/***********************************************************/
.blinks-text {
  animation-duration: 0.8s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}

@keyframes clignoter {
  0% {
    color: #000000;
  }
  40% {
    color: #e1e6ec;
  }
  100% {
    opacity: #000000;
  }
}

/************************************************************/
/*         LeafLet               */
/***********************************************************/
.leaflet-rightcenter .leaflet-control-zoom {
  position: absolute;
  top: 100%;
  right: 10px;
  transform: translateY(-50%);
}
