/* Copiez ce code CSS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

/************************************************************/
/*           SliderThumb  Custom ChakraUI                   */
/***********************************************************/

.SliderThumb {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding: 8px;
  background-color: #0088d8;
  border: none;
  box-shadow: none;
  position: relative;
  z-index: 1;
}

.SliderThumb:focus::after,
.SliderThumb:active::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 1px dotted white;
  border-radius: 50%;
  pointer-events: none;
}

.SliderThumb:focus::before,
.SliderThumb:active::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: radial-gradient(
    circle,
    rgba(0, 136, 216, 0.4) 60%,
    transparent 70%
  );
  border-radius: 50%;
  z-index: -1;
}

/* .bookContainer {
  height: 80vh;
  width: 95%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

/* .bookContainer aside {
  width: 42.5%;
  background: #f8eadd;
  box-shadow: 0px 0px 3px black, 0 0 60px #8a4d0f inset;
  border-radius: 0px;
  padding: 20px 30px;
  flex-grow: 1;
  margin: 20px 10px;
} */

/* .bookContainer aside p {
  line-height: 21px;
} */

.floating-toolbar {
  z-index: 99 !important;
  position: relative;
}

.floating-toolbar-close {
  z-index: 100 !important;
}

.modal-content-reed {
  z-index: 900 !important;
  background: white !important;
}

.btn-submit-reed {
  background: #000;
}
.hover-card {
  background: #f2dfce;
}

@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,900,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Rock+Salt:400);

.center {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 4px;
  font-family: "Estonia", cursive;
}

.small {
  font-size: 16px;
  text-align: center;
  display: block;
  margin-bottom: 40px;
}
#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}

#container {
  float: left;
  padding: 1em;
  width: 100%;
}

/*** OPEN BOOK ***/
.open-book {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1em 3em;
  color: #000;
  padding: 2em;
}

.open-book * {
  position: relative;
}

/* Header/Footer */
.open-book header {
  padding-bottom: 1em;
}

.open-book header *,
.open-book footer * {
  font: 700 1em/1.25 "Playfair Display", sans-serif;
  letter-spacing: 0.125em;
  margin: 0;
}

.open-book header * {
  font-size: 0.75em;
  text-transform: uppercase;
}

.open-book footer {
  padding-top: 1em;
}

.open-book footer #page-numbers {
  display: none;
  list-style: none;
  padding: 0;
  text-align: left;
}

.open-book footer #page-numbers > li:last-child {
  text-align: right;
}

/* Chapter Title */
.open-book .chapter-title {
  background-size: 0.5em 0.5em;
  font: 700 7vw/1.25 "Playfair Display", sans-serif;
  letter-spacing: 0.125em;
  margin: 0 0 1em 0;
  padding: 1em 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.open-book .chapter-title:before,
.open-book .chapter-title:after {
  border: solid 0 #000;
  border-width: 0.05em 0;
  bottom: calc((0.125em / 2) * 3);
  content: "";
  height: 0.15em;
  position: absolute;
  width: calc(50% - (1em / 2));
}

.open-book .chapter-title:before {
  left: 0;
}

.open-book .chapter-title:after {
  right: 0;
}

/* Body Copy */
.open-book article {
  line-height: 1.5;
}

.open-book article *:not(.chapter-title):not(hr):not(dl) {
   margin: 0 auto; 
  max-width: 28.125em;
}

.open-book article p {
  text-indent: 2em; 
}

.open-book .chapter-title + p:first-of-type {
  text-indent: 0;
}

.open-book .chapter-title + p:first-of-type:first-letter {
  float: left;
  font: 700 3em/0.65 "Playfair Display", sans-serif;
  padding: 0.15em 0.05em 0 0;
  text-transform: uppercase;
}

/*** MEDIA QUERIES ***/
@media only screen and (min-width: 50em) {
  .open-book {
    margin: 1em;
    position: relative;
  }

  .open-book:before {
    background-color: #118a7e;
    border-radius: 0.25em;
    bottom: -1em;
    content: "";
    left: -1em;
    position: absolute;
    right: -1em;
    top: -1em;
    z-index: -1;
  }

  .open-book:after {
    background: linear-gradient(
      to right,
      transparent 0%,
      rgba(0, 0, 0, 0.2) 46%,
      rgba(0, 0, 0, 0.5) 49%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.5) 51%,
      rgba(0, 0, 0, 0.2) 52%,
      transparent 100%
    );
    bottom: -1em;
    content: "";
    left: 50%;
    position: absolute;
    top: -1em;
    transform: translate(-50%, 0);
    width: 4em;
    z-index: 1;
  }
  /* Important Division Page */
  .open-book > * {
    column-count: 2;
    column-gap: 6em;
    position: relative;
    z-index: 1;
  }

  /* Header/Footer */
  .open-book header:before,
  .open-book header:after,
  .open-book footer:before,
  .open-book footer:after {
    background: #fff;
    border-radius: 25%;
    content: "";
    height: 2em;
    position: absolute;
    z-index: -1;
    width: calc(50% + 2em);
  }

  .open-book header:before,
  .open-book footer:before,
  .open-book footer:after {
    border-top-left-radius: 0;
  }

  .open-book header:after,
  .open-book footer:before,
  .open-book footer:after {
    border-top-right-radius: 0;
  }

  .open-book header:before,
  .open-book header:after,
  .open-book footer:after {
    border-bottom-right-radius: 0;
  }

  .open-book header:before,
  .open-book header:after,
  .open-book footer:before {
    border-bottom-left-radius: 0;
  }

  .open-book header:before,
  .open-book header:after {
    top: -2.65em;
  }

  .open-book header:before,
  .open-book footer:before {
    right: 50%;
  }

  .open-book header:before {
    transform: rotate(-2deg);
  }

  .open-book header:after,
  .open-book footer:after {
    left: 50%;
  }

  .open-book header:after {
    transform: rotate(2deg);
  }

  .open-book footer:before,
  .open-book footer:after {
    bottom: -2.65em;
  }

  .open-book footer:before {
    transform: rotate(2deg);
  }

  .open-book footer:after {
    transform: rotate(-2deg);
  }

  .open-book header > *:last-child,
  .open-book footer > *:last-child {
    text-align: right;
  }

  .open-book footer #page-numbers {
    display: block;
  }

  /* Chapter Title */
  .open-book .chapter-title {
    font-size: 3em;
  }

  .open-book .chapter-title:before,
  .open-book .chapter-title:after {
    height: 0.125em;
  }

  /* Body Copy */
  .open-book article p {
    text-indent: 3em;
  }
}
