.appBar {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.saveButton {
  padding: 10px 30px;
  background: transparent;
  border-radius: 30px;
  border: 1px solid #118A7E;
  margin-right: 20px;
  cursor: pointer;
  color: #118A7E;
}

.saveButton:hover {
  background: #118A7E;
  color: #fff;
}

.titleStyles {
  text-align: center;
  text-transform: uppercase;
  padding-left: 100px;
}

